<script id="course-row-template" type="text/x-handlebars-template">
    <tr>
        <th scope="row">{{code}}</th>
        <td>{{title}}</td>
        <td>
            <button type="button" class="btn btn-sm btn-info" onclick="showCourse('{{code}}')">
                <i class="far fa-eye"></i> {{courseSessions.length}} session(s)
            </button>
        </td>
    </tr>
</script>

<script id="course-item-template" type="text/x-handlebars-template">
    <div class="modal" tabindex="-1" role="dialog" id="course-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{code}} - {{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>Upcoming sessions</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">City</th>
                            <th scope="col">Start date</th>
                            <th scope="col">End date</th>
                            <th scope="col">Slots</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each courseSessions}}
                        <tr>
                            <th scope="row">{{location.city}}</th>
                            <td>{{dateFormat startDate}}</td>
                            <td>{{dateFormat endDate}}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{percentage clients.length max}}%">{{clients.length}}/{{max}}</div>
                                </div>
                            </td>
                            <td>
                                {{#ifCond clients.length '<' max}}
                                    <div class="btn btn-sm btn-info" onclick="registerCourseSession({{id}})">Sign Up</div>
                                {{/ifCond}}
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>